@font-face {
  font-display: swap;
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    local("Montserrat-VariableFont_wght"),
    url("./Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}