.header {
    background-image: linear-gradient(180deg, rgba(172, 216, 239, 0.5) -2.24%, rgba(245, 250, 255, 0) 78.75%);
    min-block-size: 100vh;
    inline-size: 100%;
    display: flex; 
    flex-direction: column;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    margin: 0px 120px;
}

.header-menu-list {
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.button-callback {
    position: relative;
    inline-size: 182px;
    block-size: 31px;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #83BCDC;
    font-weight: inherit;
    font-size: 12px;
    text-transform: uppercase;
}

.header-info-section {
    justify-self: center;
    display: grid;
    gap: 23px 42px;
    grid-template-columns: min-content 1fr 3fr;
    grid-template-areas: "dots-orange . ."
                         "title title image"
                         "txt txt image"
                         "bttn dots-blue image";
    margin: 65px auto 0px;
    flex-grow: 1;
    padding: 0px 120px;

}

.header-dots-orange {
    grid-area: dots-orange;
}

.header-dots-blue {
    grid-area: dots-blue;

}

.header-title {
    grid-area: title;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 1.5%;
}

.header-text {
    grid-area: txt;
    font-size: 16px;  
    line-height: 26px;
    letter-spacing: 0%;
    max-inline-size: 640px;
    padding-bottom: 17px;
}

.header-button {
    grid-area: bttn;
    inline-size: 366px;
    block-size: 91px;
    background-image: var(--accent-color);
    border: none;
    color: rgb(255, 255, 255);

}

.button {
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.title-image {
    grid-area: image;
    background-image: url("../images/titleImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    inline-size: 568px;
    block-size: 470px;
}

.header-wave {
    display: flex;
    background-image: url("../images/wave.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 135px;
    margin-top: auto;
    justify-content: center;
    align-items: end;
    padding-bottom: 15px;
}

.shadow {
    box-shadow: 0px 20px 50px 0px rgba(176, 176, 176, 0.2);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-profitably {
    padding: 100px 120px;
}

.why-profitably h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 12px auto 15px;
    color: var(--title-color);
}

.why-profitably p {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.8px;
    font-weight: 700;
}

.why-profitably-info {
    display: flex;
    justify-content: space-between;
    gap: 61px;
    margin: 68px 120px 107px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.why-profitably-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    inline-size: 644px;
    padding-left: 56px;
}

.why-profitably-list-item {
    position: relative;
}

.why-profitably-list-item:before {
  content: '';
  background-image: url('../images/listPoint.png');
  position: absolute;
  width: 30px; 
  height: 30px;
  background-size: 30px 30px;
  left: -41px;
}

.why-profitably-form {
    padding: 50px 50px 40px;
    border-radius: 25px;
    inline-size: min-content;
}

.why-profitably-form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 16px;
    padding: 0;
}

.why-profitably-form h3 {
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    color: var(--text-color);
}

.why-profitably-form fieldset legend {
    font-weight: 500;
    font-size: 12px;
    max-inline-size: 300px;
    text-align: center;
    margin-bottom: 38px;
}

.why-profitably-form fieldset label input {
    inline-size: 100%;
    block-size: 40px;
    border-radius: 8px;
    border: 1px solid rgba(201, 201, 201, 1);
    padding-left: 12px;
} 

.form-button {
    margin-top: 24px;
    inline-size: 395px;
    block-size: 94px;   
    border: 4px solid rgba(71, 167, 227, 1);
    background-color: transparent;
    text-wrap: nowrap;
    color: var(--text-color);
}

.checkbox-label {
    display: flex;
    justify-content: center; 
}

.checkbox-label input {
    accent-color: rgba(237, 108, 33, 1);
    inline-size: 20px !important;
    height: 20px !important;
}

.checkbox-label span {
    margin-left: 8px;
    align-self: center;
    text-wrap: nowrap;
    font-weight: 500; 
    font-size: 10.5px;
    letter-spacing: 5%;
}

.our-services h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 12px auto 60px;
    color: var(--title-color);
}

.our-services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px 60px;
  margin-bottom: 60px;
}

.our-services-list-item {
    display: flex;
    align-items: center;
    gap: 6px;
    inline-size: 360px;
    block-size: 143px;
    border-radius: 18px;
    padding: 11px 18px;
}

.our-services-list-item span {
    inline-size: 207px;
    font-weight: 400;
    font-size: 24.25px;
    line-height: 40px;
    letter-spacing: 2%;
    color: rgba(88, 88, 88, 1);
}

.our-services-list-item span strong {
    position: relative;
    font-weight: 400;
    font-size: 38.94px;
    line-height: 40px;
    letter-spacing: -5.5%;
}

.our-services-list-item span strong::after {
    content: '';
    background-image: url('../images/RUB.svg');
    position: absolute;
    width: 9px; 
    height: 11px;
    background-size: 9px 11px;
}

.our-services-list-item span p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: rgba(137, 137, 137, 1);
}

.progress-scale {
  width: 172px;
  height: 4px; 
  border-radius: 10px;
  background: 
    linear-gradient(to right, 
      rgba(255, 155, 84, 1) var(--progress-scale-length), 
      transparent var(--progress-scale-length)
    ), rgba(227, 227, 227, 1);
  box-shadow: 
    0px 0.74px 2.97px 0px rgba(166, 166, 166, 0.16),
    inset 0px 0.74px 2.97px 0px rgba(64, 64, 64, 0.16);
  margin: 8px 0;
}

.our-services-list-item img {
    inline-size: 120px;
    block-size: 120px;
}

.our-services-list-item:nth-child(2) .progress-scale, .our-services-list-item:nth-child(7) .progress-scale, .our-services-list-item:nth-child(8) .progress-scale {
  --progress-scale-length: 15%;
}

.our-services-list-item:nth-child(3) .progress-scale {
  --progress-scale-length: 79%;
}

.our-services-list-item:nth-child(5) .progress-scale {
  --progress-scale-length: 10%;
}

.our-services-list-item:nth-child(6) .progress-scale {
  --progress-scale-length: 25%;
}

.our-services-list-item:nth-child(9) .progress-scale {
  --progress-scale-length: 59%;
}

.our-services button {
    inline-size: 514px;
    block-size: 83px;  
    background-image: var(--accent-color);
    border-radius: 25px;
    border: none;
}

.three-steps {
    inline-size: 100%;
}

.three-steps-header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/threeStepsWave/1.png"), url("../images/threeStepsWave/2.png"), url("../images/threeStepsWave/3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    inline-size: 100%;
    block-size: 265px;
    margin-top: 115px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.three-steps-header h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.8px;
    color: rgb(255, 255, 255);
    margin: 20px auto;
}

.three-steps-caption {
    display: grid;
    position: relative;
    inline-size: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
    background-image: url('../images/threeStepsBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 140px;
    gap: 15px 50px;
    align-items: center;
}

.three-steps-caption::before {
    content: '';
    background-image: url(../images/lamp.png);
    position: absolute;
    width: 423px; 
    height: 1381px;
    background-size: 423px 1381px;
    right: calc(50vw - 211px);
    top: -1px;


}

.three-steps-caption img:nth-child(odd), .three-steps-caption div:nth-child(odd) {
    justify-self: end;
}

.three-steps-caption img:nth-child(even), .three-steps-caption div:nth-child(even) {
    justify-self: start;
}

.three-steps-caption h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.8px;
    color: var(--text-color);
    margin-bottom: 24px;
}

.three-steps-caption p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(88, 88, 88, 1);
    max-inline-size: 540px;
}

.three-steps button {
    margin-top: 150px;
    inline-size: 366px;
    block-size: 91px;  
    background-image: var(--accent-color);
    border-radius: 25px;
    border: none;
    margin-bottom: 120px;
}

.benefits-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.benefits-header img {
    block-size: 36px;
}

.benefits-header h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 12px auto 60px;
    color: var(--title-color);
    max-inline-size: 700px;
    text-align: center;
}

.benefits-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1367px;
    margin: 0 auto;
}

.benefits-cards-list {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    max-inline-size: 1200px;
    max-block-size: 337px;
}

.slider-arrow {
    position: absolute;
    width: 70px;
    height: 70px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: -83.5px;
    background-image: url("../images/benefitsLeftButton.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.right-arrow {
    right: -83.5px;
    background-image: url("../images/benefitsRightButton.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.benefits-which-card {
    display: flex;
    gap: 21px;
    margin-top: 26px;
}


.footer {
    position: relative;
    background-image: url("../images/footerWave.png");
    background-repeat: no-repeat;
    margin-top: 160px;
    background-size: cover; 
    background-position: center -200px;
    inline-size: 100%;
}

.footer::after {
    content: "";
    background-color: rgba(68, 149, 206, 1);
    inline-size: 100%;
    block-size: 400px;
    position: absolute;
    bottom: 0px;
    border: none;
    z-index: -1;
}

.footer .shadow {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img dots"
                         "img title"
                         "img p"
                         "img button";
    row-gap: 15px;
    max-inline-size: 975px;
    max-block-size: 428px;
    padding-bottom: 60px;
}

.footer .shadow img:first-child {
    grid-area: img;
    max-inline-size: 610px;
    margin-left: -82px;
    
}

.dots-orange {
    grid-area: dots;
    margin-left: -100px;
}

.footer h3 {
    grid-area: title;
    max-inline-size: 400px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.8px;
    color: var(--text-color);
}

.footer .shadow p {
    grid-area: p;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    max-inline-size: 330px;
}

.footer .shadow button {
    grid-area: button;
    min-block-size: 68px;
    max-inline-size: 273px;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 23%;
    background-image: var(--accent-color);
    border: none;
    border-radius: 16px;
}

.button-arrow {
    position: absolute;
    background-image: url("../images/arrowUp.svg");
    inline-size: 70px;
    block-size: 70px;
    border: none;
    border-radius: 10px;
    right: 100px;
    top: 358px;
}

.footer ul {
    display: flex;
    gap: 109px;
    max-inline-size: 1240px;
    margin: 70px auto;
    color: rgb(255, 255, 255);
    position: relative;
}

.footer ul::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 44px;
    left: 0px;
    inline-size: 100%;
    block-size: 1px;
}

.footer li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer li p {
    margin-top: 20px;
}

.footer h4 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
}

.footer p {
    color: rgba(181, 223, 255, 1);
}

.social {
    display: flex;
    gap: 30px;
}

.footer .button-callback {
    inline-size: 237px;
    block-size: 40px;  
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 65px;
}


.footer .button-callback::after {
    content: "";
    position: absolute;
    background-image: url("../images/footerArrow.svg");
    inline-size: 25px;
    block-size: 8px;
    right: 20px;
    top: 14px;
    bottom: 16px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 18px 92px;
    background-color: rgba(47, 97, 146, 1);
    color: rgb(255, 255, 255);
}