.header {
    background-image: linear-gradient(180deg, rgba(172, 216, 239, 0.5) -2.24%, rgba(245, 250, 255, 0) 78.75%);
    inline-size: 100%;
    min-block-size: 892px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px 0px;
}

.header-menu-list {
    display: flex;
    gap: 32px;
}