:root {
    --accent-color: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
    --text-color: rgba(71, 167, 227, 1);
    --text-accent-color: rgba(84, 175, 221, 1);
    --title-color: rgba(49, 101, 148, 1);
}


/* 
@media (width < 1440px) {
    
}*/ 